.Table-container {
  direction: ltr;
  width: 400px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; }
  .Table-container .top {
    padding: 20px;
    direction: rtl;
    min-height: 45px;
    display: flex;
    align-items: center; }
  .Table-container .bottom {
    padding: 20px;
    direction: rtl; }
    .Table-container .bottom .qualities {
      display: flex; }
  .Table-container .table {
    border: 1px solid #333;
    border-left: 0;
    border-bottom: 0; }
  .Table-container .header {
    display: flex;
    flex-direction: row; }
  .Table-container .tr {
    display: flex;
    flex-direction: row; }
  .Table-container .td, .Table-container .th {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #333;
    border-top: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Table-container .td {
    cursor: pointer; }
  .Table-container .td:hover {
    background-color: #eee; }
  .Table-container .td.selected {
    background-color: #eee; }
  .Table-container .td.layer::before {
    content: ""; }
